<div class="row">
  <div class="table-responsive col-md-6">
    <p id="notice"><%= notice %></p>
    <%= link_to "New Subject", new_subject_path, :class => "btn btn-success" %>
    <h4>Subjects</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Activity</th>
        <th>Date</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <% @subjects.each do |subject| %>
          <tr>
            <td ><%= subject.name %></td>
            <td ><%= subject.activity %></td>
            <td><%= subject.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime('%v') %></td>
            <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
            <td><%= link_to 'Destroy', subject_path(subject), :method => :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>